<div class="fixed bottom-6 right-6 flex flex-col gap-4 z-50">

  <a href="https://api.whatsapp.com/send/?phone=%2B51900239211&text&type=phone_number&app_absent=0" target="_blank"
    class="w-14 h-14 rounded-full bg-green-500 shadow-lg flex items-center justify-center hover:scale-110 transition">
    <img src="/whatsapp.svg" class="w-7" />
  </a>

  <a href="https://www.instagram.com/barberoyosbel/" target="_blank"
  class="w-14 h-14 rounded-full bg-linear-to-br from-purple-500 via-pink-500 to-yellow-500 shadow-lg flex items-center justify-center hover:scale-110 transition">
  <img src="/instagram.svg" class="w-7" />
  </a>

  <a href="https://www.tiktok.com/@h.urbanbarberiasalon" target="_blank"
      class="w-14 h-14 rounded-full bg-black shadow-lg flex items-center justify-center hover:scale-110 transition">
      <img src="/tiktok.svg" class="w-9" />
  </a>

  <a href="https://www.facebook.com/people/H-Urban-Barber%C3%ADa-Sal%C3%B3n/61558569193795/" target="_blank"
    class="w-14 h-14 rounded-full bg-blue-600 shadow-lg flex items-center justify-center hover:scale-110 transition">
    <img src="/facebook.svg" class="w-7" />
  </a>

</div>
